/*
******************
*=header
******************
*/

header {
	/* Trick used when things feel too pushed up*/
	overflow: hidden;
}

header h1 {
	text-indent: -9999px;
	float: left;
}

/*Clear Fix Hack*/
/*header h1:after {
	clear: both;
	display: block;
	content: ' ';
	visibility: hidden;
	height: 1%;
}*/

header h1 a{
	width: 188px;
	height: 23px;
	margin: 10px 10px 22px;
	background: url(../images/logo.png) no-repeat;
	float: left;
}


/*
******************
*=nav
******************
*/

nav{
	float: right;
	padding-top: 15px;
}

nav li{
	display:inline;
}

nav a{
	text-transform: lowercase;
}


/*
******************
*=banner
******************
*/

.banner {
	background: url(../images/chicago.jpg) no-repeat;
	width: 695px;
	height: 231px;
	clear: both;
	float: left;
	position: relative;

}



.banner h2 {
	color: white;
	font-weight: normal;
	width: 400px;
	position: absolute;
	bottom: -10px;
	left: 8px;
	padding: 0 8px;
	text-transform: lowercase;
	font-family: 'Roboto';
	font-size: 22px;

	/*4th value is "alpha" which represents transparency*/
	background: rgba(0, 0, 0, 0.5)
}

.callout {
	background: black;
	height: 231px;
}



/*
******************
*=main
******************
*/

.main{
	margin-top: 20px;
}

.main blockquote{
	width: 170px;
}

.main blockquote p:first-child:before,
.main blockquote p:last-child:after{
	font-size: 40px;
	color: #bfbfbf;
	font-style: italic;
}


.main blockquote p:first-child:before{
	content: '“';
	position: absolute;
	top: 7px;
	left: -25px;
}

.main blockquote p:last-child:after{
	content: '”';
	float: right;
	padding-right: -5px;
	position: absolute;
	bottom: -7px;
	right: -15px;
}



/*
******************
*=miscellaneous
******************
*/

.container_24{
	margin-top: 10px;
}

blockquote{
	position: relative;
}

p {
	font-size: 13px;
	line-height: 20px;
	color: #353535;
}

h1, h3{
	letter-spacing: -1px;

}

h3{
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 20px;
	font-size: 26px;
	text-transform: lowercase;
	margin-bottom: 15px;
	line-height: 1em;
}

a {
	color: #7e7e7e;
	text-decoration: none;
}

a:hover, .selected{
	color: black;
}

li {
	margin-left: 24px
}

.button {
	background: #242324;
	padding: 6px;
	text-transform: uppercase;
	color: white;
	font-size: 11px;
}

.button:hover{
	background: white;
}

blockquote {
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
	color: #0e0e0e;
}


/*
******************
*=footer
******************
*/

footer{
	clear: both;
	border-top: 1px solid #d1d1d1;
	padding-top: 18px;
	margin-top: 30px;
}



/*
******************
*=work
******************
*/
.work h2,
.work h4{
	font-weight: normal;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
}

.work h2{
	margin-bottom: 0;
}

.work h4{
	color: #787878;
	margin-top: 0px;
	line-height: 1.2em;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 33px;
	margin-bottom: 30px;
}

.work img{
	margin-top: -60px;
	margin-bottom: 0px;
}
